<% if current_user %>
<%= image_tag(current_user.profile_photo)%>
<% end %>

<h1>Spots</h1>
  <% @spots.each do |spot| %>
    <div class="panel">
      <p><%= link_to spot.name, spot_path(spot) %></p>
    </div>
  <% end %>

<%= link_to "Add a spot", new_spot_path, class: "button small radius" %>
<%= paginate @spots %>
