<h1>Spots</h1>
  <% @spots.each do |spot| %>
    <div class="panel">
      <p><%= link_to spot.name, spot_path(spot) %></p>
    </div>
  <% end %>

<%= paginate @spots %>

<% if @spots.present? %>
  <%= render @spots %>
<% else %>
  <p>There are no spots containing the infomation given in query.</p>
<% end %>

<%= link_to "Add a spot", new_spot_path, class: "button small radius" %>
