$primary-orange: #df7401;
$secondary-orange: #faac58;
$review-button-color: #a4a4a4;

body {
  background-image: image-url("background1.jpg");
  font-family: "Karma", serif;
}

h1 {
  color: $primary-orange;
  font-weight: bold;
}

h2 {
  color: $secondary-orange;
  font-weight: bold;
}

.top-bar {
  margin-bottom: 10px;
}

.button.tiny.radius {
  background-color: $review-button-color;
}

.full-width {
  max-width: 1400px;
}

// Footer C
.footer {
  //background-color: team green;
  padding: 2rem 4rem;
  text-align: center;
  color: black;
}

.footer .columns {
     border-left: 1px solid scale-color(#fff, $lightness: -30%);
     min-height: 200px;
}


.footer-links {
  list-style-type: none;
  a {
    color: black;
    font-weight: 300;
    font-size: .8rem;
  }
  li {
    margin-top: .3rem;
  }
}
