body {
  background-image: image-url("background1.jpg");
  font-family: "Karma", serif;
}

h1 {
  color: #df7401;
  font-weight: bold;
}

h2 {
  color: #faac58;
  font-weight: bold;
}

.top-bar {
  margin-bottom: 10px;
}

.button {
  margin-right: 10px;
}

.button a {
  color: #ffffff;
}
